<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Agregar empleado</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formulario" (ngSubmit)="onFormSubmit()">

  <div class="modal-body">
    <div class="container">
      <div class="form-group" [ngClass]="{'error': (_nombre.valid && _nombre.touched)}">
        <label for="nombre">Nombre</label>
        <input type="text" [class.is-invalid]="!_nombre.valid && _nombre.touched" formControlName="nombreUsuario" class="form-control" />
        <div class="invalid-feedback" *ngIf="_nombre.errors?.required">
          El nombre es requerido
        </div>
        <div class="invalid-feedback" *ngIf="_nombre.errors?.minlength">
          Al menos 3 caracteres
        </div>
      </div>

      <div class="form-group" [ngClass]="{'error': (_apellido.valid && _apellido.touched)}">
        <label for="apellido">Apellido</label>
        <input type="text" [class.is-invalid]="!_apellido.valid && _apellido.touched" formControlName="apellidoUsuario" class="form-control" />
        <div class="invalid-feedback" *ngIf="_apellido.errors?.required">
          El apellido es requerido
        </div>
        <div class="invalid-feedback" *ngIf="_apellido.errors?.minlength">
          Al menos 3 caracteres
        </div>
      </div>

      <div class="form-group" [ngClass]="{'error': (_direccion.valid && _direccion.touched)}">
        <label for="direccion">Direccion</label>
        <input type="text" [class.is-invalid]="!_direccion.valid && _direccion.touched" formControlName="direccionUsuario" class="form-control" />
        <div class="invalid-feedback" *ngIf="_direccion.errors?.required">
          La direccion es requerida
        </div>
        <div class="invalid-feedback" *ngIf="_direccion.errors?.minlength">
          Al menos 5 caracteres
        </div>
      </div>





      <div class="form-group" [ngClass]="{'error': (_telefono.valid && _telefono.touched)}">
        <label for="telefono">Telefono</label>
        <input type="number" [class.is-invalid]="!_telefono.valid && _telefono.touched" formControlName="telefonoUsuario" class="form-control" />
        <div class="invalid-feedback" *ngIf="_telefono.errors?.required">
          El telefono es requerido
        </div>
        <div class="invalid-feedback" *ngIf="_telefono.errors?.pattern">
          Ingrese un telefono valido
        </div>
      </div>

      <div class="form-group" [ngClass]="{'error': (_email.valid && _email.touched)}">
        <label for="email">Email</label>
        <input type="email" [class.is-invalid]="!_email.valid && _email.touched" formControlName="emailUsuario" class="form-control" />
        <div class="invalid-feedback" *ngIf="_email.errors?.required">
          El Email es requerido
        </div>
        <div class="invalid-feedback" *ngIf="_email.errors?.pattern">
          Ingrese un Email valido
        </div>
      </div>

      <div class="form-group" [ngClass]="{'error': (_rol.valid && _rol.touched)}">
        <label for="rol">Rol</label>
       <select class="form-control" [class.is-invalid]="!_rol.valid && _rol.touched" formControlName="tipoEmpleado" [compareWith]="compareFn" >
          <option [ngValue]="null" disabled>Seleccione el rol</option>
          <option [ngValue]="rol" *ngFor="let rol of roles"> {{ rol.nombreTipoEmpleado }}</option>
        </select>
      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">Cancel</button>
    <button type="submit"  [disabled]="!formulario.valid" ngbAutofocus class="btn btn-primary">Save</button>
  </div>

</form>
