<div class="container">
  <div class="card mt-4">
      <div class="card-header">
        <div class="row">
            <div class="col-8">Mantenimiento de huespedes</div>
            <div >
                <button type="button" class="btn btn-success" (click)="save()" >Nuevo</button>
            </div>
          </div>
      </div>
      <div class="card-body p-0">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Genero</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">DPI</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                  <th scope="col">Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let huesped of huespedes" >
                  <th scope="row">{{ huesped.idHuesped }}</th>
                  <td>{{ huesped.nombre }}</td>
                  <td>{{ huesped.apellido }}</td>
                  <td>{{ huesped.direccion }}</td>
                  <td>{{ huesped.edad }} Años</td>
                  <td>{{ huesped.genero }}</td>
                  <td>{{ huesped.telefono }}</td>
                  <td>{{ huesped.dpi }}</td>
                  <td>
                    <button type="button" class="btn btn-success" (click)="edit(huesped)" >Editar</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="delete(huesped)">Eliminar</button>
                  </td>
                  <td>
                    <button type="button" [routerLink]="['/huespedes', huesped.idHuesped]"  routerLinkActive="router-link-active"  class="btn btn-warning" >Ver</button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

</div>
